<div class="mt-4">
    <a href="/room" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
        </svg> Trở về trang QL phòng</a>
    <div class="mt-4">
        <div class="d-flex justify-content-center">
            <h3>Sửa thông tin phòng</h3>
        </div>
        <div class="form-container">
            <form action="/room/{{Room._id}}?_method=PUT" method="POST">
                <div class="mb-3">
                    <label for="name">Tên phòng</label>
                    <input type="text" class="form-control" value="{{Room.name}}" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="owner">Người thuê</label>
                    <input type="text" class="form-control" value="{{Room.owner}}" id="owner" name="owner">
                </div>
                <div class="mb-3">
                    <label for="status">Tình trạng</label>
                    <input type="checkbox" value="true" id="status" name="status" {{Room.status}}>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-3">Sửa Phòng</button>
                </div>
            </form>
        </div>
    </div>