<div class="mt-4">
    <a href="/usermanage" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
        </svg> Trở về trang QL User</a>
    <h3 class="text-center">Thêm User</h3>
    <form action="/usermanage/created" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Họ và Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Vai trò</label>
            <select class="form-select" id="cbRole" name="role">
                <option value="Manage">Quản Lí</option>
                <option value="User">Người Dùng</option>
            </select>
        </div>
        <div class="mb-3" id="room" style="display: none;">
            <label for="room" class="form-label">Tên Phòng</label>
            <select class="form-select" id="cbRoom" name="room">
                {{#each Room}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Thêm User</button>
        </div>
    </form>
</div>

<script>
    const cbRole = document.getElementById('cbRole');
    const divRoom = document.getElementById('room');

    cbRole.onchange = function () {
        if (cbRole.value === 'User') {
            divRoom.style.display = 'block'; // Ẩn div room
        } else {
            divRoom.style.display = 'none'; // Hiển thị div room
        }

    }
</script>